{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello, {{ user.fullName }}</h1>


    {% block stylesheets %}
        <style>
            h1{
                padding: 144px 40px 160px 40px;
                margin-left: 300px;
            }
        </style>

    {% endblock %}

{% endblock %}

